.notif-news-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.notif-news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e6edf5;
  box-shadow: 0px 0px 33px -3px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 26px;
}

.notif-news-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-blue);
  margin-bottom: 8px;
}

.notif-news-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  color: var(--dark-blue);
}

.notif-news-icon{
    margin-left: 10px;
}