.home {
  width: 100%;
  min-height: 100%;
  background: url("../assets/homeBGImage.png"),
    linear-gradient(348.29deg, #3b31a5 0%, #7066df 98.25%);
}

.home-content {
  max-width: 362px;
  color: var(--light-blue);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 23px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.home-avatar {
  width: 52px;
  height: 52px;
  border: 3px solid var(--cyan);
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.handledAvatar {
  color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 14px 18px;
  border-radius: 50%;
  margin-left: 10px;
  border: 3px solid var(--cyan);
}

.home-logo {
  padding: 0px 23px;
  margin-top: 30px;
  margin-bottom: 7.5px;
}

.home-username {
  font-weight: 700;
  font-size: 43px;
  line-height: 128%;
}

.home-subtitle {
  font-weight: 600;
  font-size: 13px;
  line-height: 128.4%;
}

.program {
  margin-bottom: 16px;
}

.meal {
  margin-bottom: 140px;
}

.move {
  margin-bottom: 16px;
}
