.notif {
  width: 100%;
  min-height: 100%;
  background: url("../assets/notifPageBG.png") no-repeat bottom left,
    linear-gradient(348.29deg, #3b31a5 0%, #7066df 98.25%);
}

.notif-content {
  max-width:390px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.notif-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 128%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--light-blue);
}
