.admin-move {
    padding: 23px;
    background-color: var(--dark-blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .admin-move-title {
    font-weight: 600;
    font-size: 18px;
    color: var(--light-blue);
    margin-bottom: 20px;
  }
  
  .admin-move input {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 13px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
  }
  
  .admin-move button {
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--light-blue);
    background: none;
    color: var(--light-blue);
    transition: all 0.5s ease;
  }
  
  .admin-move button:hover {
    color: var(--dark-blue);
    background: var(--light-blue);
  }
  