.meal {
  background: #474ccb;
  box-shadow: 0px 0px 33px -3px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 26px;
}

.meal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 128%;
  margin-bottom: 16px;
}
